# === SHARED ===
# --- Postgres ---
SHARED__DB__USER=postgres
SHARED__DB__PASSWORD=postgres
SHARED__DB__HOST=localhost
SHARED__DB__PORT=5432
SHARED__DB__EXTERNAL_PORT=5432
SHARED__DB__NAME=spimex

# === SPIMEX API ===
# --- Redis ---
SPIMEX_API__REDIS__HOST=localhost
SPIMEX_API__REDIS__PORT=6379
SPIMEX_API__REDIS__EXTERNAL_PORT=6379
SPIMEX_API__REDIS__DB=0

# --- App ---
SPIMEX_API__APP__EXTERNAL_PORT=8000
